body
{
	background: white;
	color: black;
	font-family: Arial, sans-serif
}

H1, H2 
{ 
	color: darkblue; 
	font-family: impact, sans-serif
}

H3, H4 
{ color: darkblue; font-family: arial, sans-serif
}
